# dependency from WhisperStreaming:
librosa

# from Whisper
tqdm
tiktoken

# both Whisper and SimulWhisper. SimulWhisper requires <3
triton>=2.0.0,<3;platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"

# from pipeliner
matplotlib
networkx==2.5

# real-time diarization
diart